nav {
    background-color: #502d0e;
    padding: 1em;
}
nav a:link, nav a:visited {
    color: white;
    text-decoration: none;
}
.mapcontainer {
    margin: 1em;
}
.map{
    width: 600px;
    height: 400px;
    background-color: gray;
    float: left;
    margin: 1em;
}
.sidebar{
    width: 300px;
    min-height: 400px-1em;
    /* background-color: gray; */
    padding: 1em; 
    float: left;
}
.sidebar li::first-letter{
    text-transform: capitalize;
}
.sidebar img {
    width: 100%
}