nav {
    background-color: #502d0e;
    padding: 1em;
}
nav a:link, nav a:visited {
    color: white;
    text-decoration: none;
}
div{
    margin: 1em;
}
.map{
    width: 600px;
    height: 400px;
    background-color: gray;
    float: left;
    margin: 1em;
}
.sidebar{
    width: 300px;
    height: 400px;
    background-color: gray;
    float: left;
    padding: 1em;
}